* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #050505;
  display: flex;
  justify-content: center;
  height: 100vh;
}

/* APP CONTAINER */
.app {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #050505;
}

/* HEADER */
header {
  text-align: center;
  padding: 15px 10px;
  border-bottom: 1px solid #050505;
  background: #050505;
}

header h1 {
  color: #36f21d;
}

header p {
  color: #91c38a;
  font-size: 14px;
}

/* CONTENT (SCROLL AREA) */
.content {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  scroll-behavior: smooth;
}

.feed {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* TWEET CARD */
.tweet {
  background: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.tweet p {
  font-size: 14px;
  line-height: 1.4;
}

.time {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

/* TWEET BOX */
.tweet-box {
  background: #050505;
  padding: 12px;
  border-top: 1px solid #050505;
  display: flex;
  gap: 10px;
}

textarea {
  flex: 1;
  height: 45px;
  border: 1px solid #4b4b4c;
  border-radius: 20px;
  padding: 10px 15px;
  resize: none;
  outline: none;
  font-size: 14px;
}

button {
  background: #36f21d;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 0 18px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background: #91f684;
}

/* Better mobile touch */
button, textarea {
  -webkit-tap-highlight-color: transparent;
}

/* Prevent zoom on input */
textarea::placeholder {
  font-size: 16px;
  color:#3c3c3c;
}

/* Mobile spacing */
@media (max-width: 600px) {

  header h1 {
    font-size: 20px;
  }

  header p {
    font-size: 13px;
  }

  .content {
    padding: 10px;
  }

  .tweet-box {
    padding: 10px;
    gap: 8px;
  }

  textarea {
    height: 40px;
  }

  button {
    padding: 0 14px;
    font-size: 14px;
  }
}
.tweet {
  position: relative;
}

.delete-btn {
  position: absolute;
  top:15px;
  right: 10px;
  background: transparent;
  border: none;
  color: red;
  font-size: 25px;
  cursor: pointer;
}

